<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>
      {{ .Title }}{{ if ne .Title "Embassy" }}{{ " - Embassy" }}{{ end }}
    </title>

    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <div class="content">
      <h1>{{ .Title }}</h1>
      <div class="group-container">
        {{ range $group := .Groups }}
          <div class="group">
            <h2>{{ $group.Title }}</h2>
            <hr />
            {{ range $service := $group.Services }}
              <a href="{{ $service.URL }}">
                <div
                  class="
                  service
                  {{ if $service.Status }}
                    status-{{ $service.Status }}
                  {{ end }}
                  "
                >
                  {{ if $service.IconURL }}
                    <img src="{{ $service.IconURL }}" class="service-icon" />
                  {{ end }}
                  <div class="service-info">
                    <span class="service-title">
                      {{ $service.Title }}
                    </span>
                    <span class="service-description">
                      {{ $service.Description }}
                    </span>
                  </div>
                </div>
              </a>
            {{ end }}
          </div>
        {{ end }}
      </div>
    </div>
  </body>
</html>
